<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Create Playlist</h3>
</div>
<div class="modal-body">
    <form>
        <fieldset>
            <input type="text" placeholder="Playlist ati…" autofocus="autofocus">
        </fieldset>
    </form>

</div>
<div class="modal-footer">
    <button class="btn" ng-click="dismiss()">Close</button>
    <button class="btn btn-primary" ng-click="modal.saved=true;dismiss()">Create Playlist</button>
</div>
