<div class="page_wrapper">
<script>
  $(document).ready(function () {
		$('#supersized').show();
		$('#gallery_overlay').show();
	 
});
  </script>
  <div class="fluid" id="mood_group">
            <div class="widget grid2"  >
                <div class="body">
	                <ul class="ca-menu">
	                    <li>
	                        <a href="#">
	                            <span class="ca-icon"><img src="img/mood1.png"></span>
	                            <div class="ca-content">
	                                <h2 class="ca-main">классика</h2>
	                            </div>
	                        </a>
	                    </li>
	                </ul>
	            </div>
            </div>
            <div class="widget grid1">
                <div class="body">
	                
	            </div>
            </div>
            <div class="widget grid2">
                <div class="body">
	                <ul class="ca-menu">
	                    <li>
                        <a href="#">
                            <span class="ca-icon"><img src="img/mood2.png"></span>
                            <div class="ca-content">
                                <h2 class="ca-main">комуз</h2>
                            </div>
                        </a>
                    </li>
	                </ul>
	            </div>
            </div>
            <div class="widget grid1">
                <div class="body">
	                
	            </div>
            </div>
            <div class="widget grid2">
                <div class="body">
	                <ul class="ca-menu">
	                    <li>
                        <a href="#">
                            <span class="ca-icon"><img src="img/mood3.png"></span>
                            <div class="ca-content">
                                <h2 class="ca-main">Бийле</h2>
                            </div>
                        </a>
                    </li>
	                </ul>
	            </div>
            </div>
            <div class="widget grid1">
                <div class="body">
	                
	            </div>
            </div>
            <div class="widget grid2">
                <div class="body">
	                <ul class="ca-menu">
	                    <li>
	                        <a href="#">
	                            <span class="ca-icon"><img src="img/mood1.png"></span>
	                            <div class="ca-content">
	                                <h2 class="ca-main">классика</h2>
	                            </div>
	                        </a>
	                    </li>
	                </ul>
	            </div>
            </div>
          

     
        </div>
            
<div id="search">
        	<input class="search_inpt" value="Музыка издөө">
        </div>
 <script>
  $(document).ready(function () {
	 
  $('.search_inpt').focus(function() {
	  if($(this).val()=='Музыка издөө'){
			$(this).val('');
	  }
	});
$('.search_inpt').focusout(function() {
	  if($(this).val()==''){
			$(this).val('Музыка издөө');
	  }
	});
});
  </script>
</div>